#title-bg-sim {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0vw;

    background-image: url('./images/lhf-wx-pyqbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    
    position: relative;
    overflow: hidden;
}

#sim-body {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

#sim-main {
    width: 70%;
    height: 90%;
    border-right: darkgray 3px solid;
}



#sim-config {
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#sim-config-title {
    font-family: 'Roboto Mono';
    font-size: 50px;
}

.config-container {
    font-family: 'Roboto Mono';
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
.config-desc {

}

.slider {
}

.slider:hover {
    cursor: grab;
}

.slider:active {
    cursor:grabbing;
}


.config-desc {
    width: auto;
}

.config-val {
    width: 2vw;
}